<header class="container-fluid py-3 position-relative" style="z-index: 3;">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h3 class="h4 mb-0 text-uppercase">Mati<span class="text-primary">diaz</span></h3>
        <nav class="d-flex align-items-center">
            <a class="text-dark px-2" routerLink="/inicio" routerLinkActive="font-weight-bold">Inicio</a>
            <a class="text-dark px-2" routerLink="/habilidades" routerLinkActive="font-weight-bold">Habilidades</a>
            <a class="text-dark px-2" routerLink="/experiencia" routerLinkActive="font-weight-bold">Experiencia</a>
            <a class="text-dark px-2" routerLink="/contacto" routerLinkActive="font-weight-bold">Contacto</a>
        </nav>
        <button class="btn btn-outline-primary">Curriculum</button>
    </div>
</header>