<div class="h-100 d-flex flex-column">
    <nav class="container d-flex justify-content-center mb-4">
        <a href="#" class="reset-underline d-flex flex-column align-items-center text-center bg-white p-3 rounded mx-3">
            <span class="material-symbols-rounded h1">help</span>
            <span>Dribble</span>
        </a>
        <a href="#" class="reset-underline d-flex flex-column align-items-center text-center bg-white p-3 rounded mx-3">
            <span class="material-symbols-rounded h1">help</span>
            <span>Linkedin</span>
        </a>
        <a href="#" class="reset-underline d-flex flex-column align-items-center text-center bg-white p-3 rounded mx-3">
            <span class="material-symbols-rounded h1">help</span>
            <span>Github</span>
        </a>
        <a href="#" class="reset-underline d-flex flex-column align-items-center text-center bg-white p-3 rounded mx-3">
            <span class="material-symbols-rounded h1">help</span>
            <span>Correo</span>
        </a>
    </nav>
    <img src="/assets/contact.svg" class="w-50 mx-auto mt-auto" />
</div>