<div id="experience" class="h-100 d-flex flex-column">
    <div class="p-4 flex-grow-1 text-center">
        <div class="container">
            <h2 class="w-50 mx-auto">Code <span class="text-primary">licensed MIT</span>, docs CC BY 3.0</h2>
            <p class="h4 w-75 mx-auto font-weight-normal">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
    </div>
    <div id="list" class="bg-light p-4 d-flex">
        <span id="line" class="w-100 bg-primary"></span>
        <div class="position-relative d-flex align-items-center">
            <app-experience-items class="col-3"></app-experience-items>
            <app-experience-items class="col-3"></app-experience-items>
            <app-experience-items class="col-3"></app-experience-items>
            <app-experience-items class="col-3"></app-experience-items>
        </div>
    </div>
</div>