@import "~src/styles/variables";

$floatItemsHeight: 122px;
$lineHeight: 13px;

::ng-deep #experience {
    #list {
        > div {
            position: relative;
            margin-top: $floatItemsHeight;
        }
        #line {
            height: $lineHeight;
            margin-top: - calc($lineHeight / 2);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}