@import "~src/styles/variables";

::ng-deep {
    #app > * {
        height: 100%;
    }

    #app > app-header,
    #app > router-outlet {
        height: auto;
    }
    app-mobile-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto !important;
    }
}

:host {}