<div class="container text-center d-flex flex-column h-100">
    <div class="flex-grow-1">
        <!--<h4 class="text-light-dark font-weight-normal mb-1">Frontend Developer con 11 años de experiencia</h4>-->
        <h1 class="h2 mb-3 px-5 mx-5">Desarrollo de software desde el lado del usuario, o <span class="text-primary">frontend developer</span> para la gente de IT </h1>
    </div>
    <div class="overflow-hidden">
        <div class="col-9" style="margin: -5rem auto -10rem;">
            <lottie-player
                [src]="file"
                #myRef
                id="firstLottie"
                mode="normal"
                background="transparent"
                speed=".5"
                loop
                autoplay
            ></lottie-player>
        </div>
    </div>
  </div>